* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1470px;
  margin: auto;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #E5E5E5;
  font-family: 'Roboto Light', sans-serif;
}

.header {
  background: #E5E5E5 url("../img/hero/bg-header.png") no-repeat center;
  background-size: 100%;
  padding: 500px 0;
  background-color: #ebedf1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -500px;
  min-height: 150px;
  background-color: #5A1Bff;
  border-radius: 0 0 0 50px;
}

.menu {
  margin-left: 200px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  font-size: 30px;
  margin-right: 60px;
  color: #ffffff;
}

.menu__link:first-child {
  margin-left: 100px;
}

.active {
  font-family: 'Roboto Bold', sans-serif;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  min-width: 180px;
  background-color: #5A1Bff;
  border-radius: 0 0 0 50px;
}

.social-btn__block {
  margin: 20px 0;
  padding: 5px 10px;
}

.social-btn__block:first-child {
  margin-top: 150px;
}

.social-btn__block:last-child {
  margin-bottom: 100px;
}

.info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 43px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 74px;
  color: #5A1Bff;
  font-family: 'Roboto Bold', sans-serif;
}

.info__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: lowercase;
  font-weight: 300;
  font-size: 44px;
  color: #5A1Bff;
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__logo {
  position: relative;
  margin-top: -100px;
}

.info__logo img {
  position: absolute;
  z-index: -1;
  max-height: 800px;
}

.info__text {
  margin-top: 135px;
  font-size: 50px;
  text-align: right;
  color: #5A1Bff;
}

.info__text-text {
  margin-bottom: 95px;
}

.info__text-text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
  .container {
    max-width: 990px;
  }
  .header {
    background-size: cover;
  }
  .menu {
    margin-left: 0;
  }
  .menu__link {
    font-size: 24px;
  }
  .social-btn__block {
    margin: 5px;
  }
  .social-btn__block:first-child {
    margin-top: 50px;
  }
  .info__title {
    text-align: center;
  }
  .info__subtitle {
    text-align: center;
  }
  .info__logo {
    display: none;
  }
  .info__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 55px;
    font-size: 30px;
  }
}

@media (max-width: 940px) {
  .container {
    max-width: 750px;
  }
  .menu__link {
    margin-right: 20px;
  }
  .social-btn__block {
    margin: 5px;
  }
  .social-btn__block:first-child {
    margin-top: 20px;
  }
  .info__text {
    margin-top: 35px;
  }
}

@media (max-width: 734px) {
  .header {
    background-size: cover;
  }
  .container {
    max-width: 580px;
  }
  .menu__nav {
    margin-bottom: 0;
  }
  .menu__link:first-child {
    margin-left: 50px;
  }
  .social-btn__block:first-child {
    margin-top: 0;
  }
  .info__title {
    font-size: 50px;
  }
  .info__subtitle {
    font-size: 34px;
  }
  .info__text {
    margin-top: 30px;
  }
  .info__text-text {
    margin-bottom: 45px;
  }
}

@media (max-width: 576px) {
  .menu__nav {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 14px;
  }
  .social-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-btn__block {
    max-width: 80px;
  }
  .social-btn__block:last-child {
    margin-bottom: 0;
  }
  .social-btn__img {
    height: 73px;
    max-width: 80px;
  }
  .info__text {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .menu__link:first-child {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */