.info {
  padding: 0 5px;

  &__title {
    display: flex;
    justify-content: center;
    margin: 43px auto;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 64px;
    color: $primary;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 44px;
    color: $primary;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
  }

  &__logo {
    min-width: 600px;
    position: relative;
    margin-top: -50px;

    img {
      position: absolute;
      z-index: -1;
      max-height: 740px;
    }
  }

  &__text {
    margin-top: 105px;
    font-size: 50px;
    text-align: right;
    color: $primary;

    &-text {
      margin-bottom: 95px;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}
