@font-face {
  font-family: 'Roboto Light';
  font-display: swap;
  src: url('../assets/fonts/Roboto-Light.eot');
  src: url('../assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Light.woff') format('woff'),
    url('../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  font-display: swap;
  src: url('../assets/fonts/Roboto-Bold.eot');
  src: url('../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@mixin bold {
  font-family: 'Roboto Bold', sans-serif;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@mixin light {
  font-family: 'Roboto Light', sans-serif;
}
