@use 'colors' as *;
@use 'fonts' as *;

body {
  background: url('../assets/img/body/bg-blue.png');
  background-color: $bg-primary;
  z-index: -999;

  @include light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; // single-weight faces; avoid faux bold

  @include bold;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1140px 1fr;
}

.main {
  display: grid;
  grid-column: 1/4;
}

.input {
  height: 52px;
  margin: 40px 65px;
  padding: 0 5px;
  border: none;
  color: $primary;
}

::placeholder {
  color: $primary;
  font-size: 24px;
}

::selection {
  background: $primary;
  color: $secondary;
}

a {
  text-decoration: none;
}
