<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-EN-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="Skoro-Forms - a service for fast creating and using forms">
  <meta name="keywords" content="form, forms, web-forms, skorokhod, easy-from">
  <link rel="shortcut icon" href="./assets/img/favicon/favicon.png" type="image/png">
  <link rel="stylesheet" href="./css/style.css" type="text/html">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body class="body" id="body">
  <header class="header main" id="header">
    <div class="header-bg"></div>
    <nav class="header-nav" id="nav-bar">
      <a href="#info" class="header-nav__link">About</a>
      <a href="#ask" class="header-nav__link">Contacts</a>
      <a href="#register" class="header-nav__link">Sing up</a>
      <a href="#" class="header-nav__link">Sing in</a>
    </nav>
    <div class="icon-bar" id="icon-bar">
      <a href="#info"><i class="fas fa-user"></i></a>
      <a href="#register"><i class="fas fa-lock"></i></a>
      <a href="#ask"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fas fa-sign-in-alt"></i></a>
    </div>
    <!-- /.header-nav -->
    <button id="go-to-top" title="Go to top">
      <span><i class="fas fa-arrow-up"></i></span>
    </button>
    <!-- button to top -->
  </header>
  <!-- /.header -->

  <main class="main">
    <section class="section" id="info">
      <div class="info">
        <h1 class="info__title">Skoro-Forms</h1>
        <span class="info__subtitle">It is a service for fast-creating and customizing web forms.</span>
        <div class="info__content">
          <div class="info__logo">
            <img src="./assets/img/info/info-img.png" alt="">
          </div>
          <div class="info__text">
            <p class="info__text-text">
              With our service, you can create any forms, such as registrations forms, or questionnaires, and store your customer's answers in our DB.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="register">
      <div class="register__block register-block">
        <div class="register-img">
          <img src="./assets/img/register/register.png" alt="Реєстрація" class="register-img__img">
        </div>
        <div class="register-form">
          <h2 class="register-form__title">Sign up</h2>
          <span class="register-form__subtitle">
            Do create a new account<br />
            And get access to all features in Skoro-Forms
          </span>
          <!-- form Start -->
          <form id="register-form" class="form register-form__form">
            <input name="user_firstName" type="text" placeholder="First Name" class="input form__input" required>
            <input name="user_lastName" type="text" placeholder="Last Name" class="input form__input" required>
            <input name="user_password" type="password" autocomplete="new-password" placeholder="Password" class="input form__input" required>
            <input name="user_email" type="text" placeholder="E-mail" class="input form__input" required>
            <button type="submit" class="button form__button">Sing up</button>
          </form>
          <!-- form END -->
        </div>
      </div>
    </section>

    <section class="section" id="ask">
      <div class="ask-block">
        <div class="ask-contacts">
          <h2 class="ask-contacts__title">Do you want to join Skoro-Forms?</h2>
          <div class="ask-contacts__contacts">
            <h3 class="ask-contacts__subtitle">Our contacts</h3>
            <a href="tel:+380952168010" class="ask-contacts__link" target="_blank">
              <img src="./assets/img/ask/phone.png" alt="Phone" class="ask-contacts__link-img">
              <span class="ask-contacts__link-text">+380 95-216-80-10</span>
            </a>
            <a href="mailto:skoro_forms.dev@gmail.com" class="ask-contacts__link" target="_blank">
              <img src="./assets/img/ask/email.png" alt="Email" class="ask-contacts__link-img">
              <span class="ask-contacts__link-text">skoro_forms.dev@gmail.com</span>
            </a>
          </div>
        </div>
        <div class="ask__img">
          <img src="./assets/img/ask/ask-bg.png" alt="Виникли питання" class="ask__img-img">
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-info">
      <div class="footer-links">
        <div class="footer-links-text">
          <span class="footer-links-caption">Our socials</span>
        </div>
        <div class="footer__links">
          <a href="https://t.me/kuznetsuniversity" target="_blank">
            <i class="fab fa-telegram fa-3x" data-social="true"></i>
          </a>
        </div>
        <div class="footer__links">
          <a href="https://www.instagram.com/Kuznets.university/" target="_blank">
            <i class="fab fa-instagram fa-3x" data-social="true"></i>
          </a>
        </div>
        <div class="footer__links">
          <a href="https://www.facebook.com/Kuznetsuniversity-105881734282909/" target="_blank">
            <i class="fab fa-facebook fa-3x" data-social="true"></i>
          </a>
        </div>
        <div class="footer__links">
          <a href="https://www.youtube.com/channel/UCBd4cmZehgcG9mPSOGQvGXQ" target="_blank">
            <i class="fab fa-youtube fa-3x" data-social="true"></i>
          </a>
        </div>
      </div>
      <div class="footer-block">
        <span class="footer__rights">All rights reserved &copy;</span>
        <div class="footer-sign">
          <a href="https://github.com/JamesHow1ett" class="footer-sign__link" target="_blank" data-sign="true">
            Created by Alexandr Skorokhod
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
