.footer
  background-color: $primary
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    padding: 50px
  &__rights
    font-size: 30px
    color: $secondary
    +bold
  &-sign
    &__link
      font-size: 30px
      color: $secondary
      text-decoration: none
      +bold
      &:hover
        text-decoration: underline