.header
  width: 1140px
  max-height: 85vh
  display: grid
  grid-template-rows: 1fr 6fr
  grid-column: 2/3
  background: url('../img/hero/bg-header.png')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  &-bg
    grid-column: 1/4
    grid-row: 1/2
    background: $primary
  &-nav
    grid-column: 2/3
    grid-row: 1/2
    justify-self: flex-end
    align-self: center
    margin: 40px auto
    &__link
      margin-right: 20px
      font-size: 2.2em
      color: $secondary
      text-decoration: none
    &__link:hover
      text-decoration: underline
    &__link:first-child
      +bold
    &__link:last-child
      margin-right: 0
#goToTop
  display: none
  position: fixed
  bottom: 20px
  right: 20px
  width: 40px
  height: 40px
  padding: 10px
  z-index: 99
  border: none
  border-radius: 50%
  background-color: $primary
  color: $secondary
  cursor: pointer