.header
  max-height: 80vh
  display: grid
  grid-template-columns: 1fr 6fr 1fr
  grid-template-rows: 2fr 6fr
  background: url('../img/hero/bg-header.png')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  &-bg
    grid-column: 1/4
    grid-row: 1/2
    background: $primary
    border-radius: 0 0 0 180px
  &-nav
    grid-column: 2/3
    grid-row: 1/2
    justify-self: flex-end
    align-self: center
    margin: 60px 0
    &__link
      margin-right: 20px
      font-size: 2.2em
      color: $secondary
      text-decoration: none
    &__link:hover
      text-decoration: underline
    &__link:first-child
      +bold
    &__link:last-child
      margin-right: 0
  &-social
    display: grid
    grid-column: 3/3
    grid-row: 2/2
    justify-items: center
    align-items: center
    background: url('../img/hero/right-form.png')
    background-repeat: no-repeat
    background-size: cover
    &__pic
      margin-left: 72px
      padding: 10px 5px
    &__pic:last-child
      margin-bottom: 20px
#goToTop
  display: none
  position: fixed
  bottom: 20px
  right: 20px
  width: 40px
  height: 40px
  padding: 10px
  z-index: 99
  border: none
  border-radius: 50%
  background-color: $primary
  color: $secondary
  cursor: pointer