.header
  background-color: #ebedf1
.navbar
  display: flex
  align-items: center
  min-height: 150px
  background-color: #5A1Bff
  border-radius: 0 0 50px 50px
.menu
  &__nav
    margin-bottom: 50px
  &__link
    text-decoration: none
    font-size: 44px
    margin-right: 60px
    color: #ffffff
  &__link:first-child
    margin-left: 100px
